.container {
    padding: 10px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #e1e1e1;
  }
  
  .inputContainer {
    width: 390px;
    min-height: 90vh;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 50px 50px 33px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    font-size: small;
  }
  
  .title {
    display: block;
    font-size: 50px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    padding: 10px;
  }
  
  .form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
  
  .inputContainer10 {
    width: 100%;
    position: relative;
    margin-bottom: 5px;
  }
  