.input-button {
  appearance: none;
  -webkit-appearance: none;
  padding: 10px 2%;
  border: none;
  min-width: 10rem;
  border-radius: 8px;
  font-weight: 600;
  color: #fff;
  background-color: #3831a0;
  margin-top: 10px;
  cursor: pointer;
}

.small-button {
  min-width: auto;
  font-size: 0.6rem;
  font-weight: 200;
  padding: 7px 1.4%;
}
