.container-textArea {
  display: flex;
  flex-direction: column;
}

.container-textArea > label {
  padding-left: 5px;
  margin: 5px 0px;
}

.textArea-input {
  padding: 10px;
  height: 15vh;
  background-color: #e7e7e7;
  border-radius: 10px;
  width: 100%;
  border: none;
  resize: none;
}

.invalid {
  border: 2px solid;
  border-color: rgb(236, 116, 116);
  color: rgb(236, 116, 116);
}
